.jumbotron {
    margin-top: 15px;
}

.Box1 {
    background-color: #429DEB;
}

.Box2 {
    background-color: #E542EB;
}

.Box3 {
    background-color: #EB9042;
}

.Box4 {
    background-color: #48EB42;
}